.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  max-width: 300px;
  font-family: "AU Passata", sans-serif;
}
.card h3 {
  margin-bottom: 0.5rem;
}
.card p {
  margin-bottom: 1rem;
}
.card a {
  text-decoration: none;
  color: navy;
  font-weight: bold;
}
.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.card a {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: navy;
  font-weight: bold;
  text-decoration: none;
}

